<md-toolbar layout="row" class="md-hue-2">
    <div class="md-toolbar-tools" style="padding-left:0px;">
        <a ui-sref="grps"><img style="width:60px" src="/GRPApp/app/images/EPA_logo.png"/></a>
        <h2>EPA Geographic Response Planning Application</h2>
    </div>
    <md-menu ng-if="authenticated === true">
        <md-button aria-label="" ng-click="$mdOpenMenu($event)">
            {{fullName}}  <md-icon style="margin-top:-3px;">menu</md-icon>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item ng-if="!$state.is('grps')">
                <md-button ui-sref="grps">
                    Select GRP
                </md-button>
            </md-menu-item>
            <md-menu-item ng-if="!$state.is('grps')">
                <md-button ui-sref="main.contacts">
                    Manage Contacts
                </md-button>
            </md-menu-item>
            <md-menu-item ng-if="!$state.is('grps')">
                <md-button ui-sref="main.defaults">
                    Manage Defaults
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="logout($event)">
                    Logout
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-button ng-if="authenticated === false" ng-click="authenticate()">Login</md-button>
</md-toolbar>